@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body{
	display: flex;
	font-family: "Comfortaa", sans-serif;
	align-content: center;
	justify-content: center;
	background-color:#2c3338;
	width: 100%;
	height: 100%;
}

.mainbox{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 700px;
	position: absolute;
	height: 700px;
	color: whitesmoke;
	border-radius: 25px;
    background-color:#1d2327 ;
    top: 120px;
    /*left: 500px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    border: 2px;
    border: 1px solid cyan;
}

.content{
	position: absolute;
	top: 10px;
	left: 50px;
}

input{
	color: white;
	width: 200px;
	border: 1px solid;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-color: cyan;
	background-color: #1d2327;
	outline: none;
	-moz-transition: width 0.4s 0.1s ease;
	-o-transition: width 0.4s 0.1s ease;
	-webkit-transition: width 0.4s 0.1s ease;
}
button{
	position: absolute;
	top: 290px;
	background-color: #1d2327;
	color: white;
	border-radius: 5px;
	border-style: none;
	width: 100px;
	height: 30px;
	border: 2px solid cyan;	
	-moz-transition: background-color 0.4s 0.1s ease;
	-o-transition: background-color 0.4s 0.1s ease;
	-webkit-transition: background-color 0.4s 0.1s ease;
}

button:hover{

	background-color: cyan;

}

input:hover{
	width: 250px ;
}
img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
}